@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Raleway:wght@300&family=Yeseva+One&display=swap');

/* 
Color Scheme--
Primary: #7fc37e (light green)
          
Secondary: #fefee2 (tan-ish)

Accent #1: rgb(165, 114, 42) (brown)

Accent #2: #2b7029 (dark green)

Fonts--
Title: "Yeseva One"

Main: "Abysinnica SIL" 

Paragraph: Raleway
*/

body {
    margin: 0 auto;
    background-color: #fefee2;
}

#content {
    margin: 0 auto;
    max-width: 400px;
    /* background-color: aqua; */
    font-family: Raleway;
}

#announcement {
    text-align: center;
    font-size: 15pt;
    margin: 5px;
    padding: 10px 0;
    border-radius: 25px;
    background-color: #fefee2;
    display: none;
}

/* div.show {
    /* display:block; */


header {
    background-color: rgb(165, 114, 42);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 5px;
    text-align: center;
}

#welcome-banner {
    display: grid;
    grid-template-columns: .5fr .9fr;
    /* grid-template-rows: auto auto; */
    align-items: center;
    /* justify-content: space-around; */
}

#welcome-banner h1 {
    text-align: center;
    /* max-width: 225px; */
    /* margin: 15px auto; */
    font-size: 15pt;
    font-family: 'Yeseva One';
}

.logo-btn {
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    /* grid-row: 1/4; */
}

#hd-dash {
    display: none;
}

#hd-area {
    margin: 0 10px;
}

/* #hd-chamber {
    grid-column: 2/3;
    display: inline;
} */

.current-date {
    padding-left: 15px;
    font-size: 16pt;
    font-family: 'Abyssinica SIL';
}

.header-menu {
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border-radius: 25px; */

}


header p {
    text-align: center;
}

.menu-options {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.icon {
    width: 30px;
    border-radius: 50%;
    margin: 3px;
}

button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fefee2;
}

nav a {
    display: none;   
    font-family: Raleway;
    font-size: larger;
}

nav.open a {
    display: block;
    font-size: medium;
    width: 65px;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fefee2;
    border-top: 1px solid rgba(0, 0, 0, .5);
    text-align: center;
    overflow: hidden;
}

nav a:hover {
    background-color: rgba(0, 0, 0, .3);
}

.active a {
    background-color: rgba(0, 0, 0, .2);
}

#contact-nav {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

main {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}

.event, .weather, .news {
    background-color: rgba(237, 207, 165, 0.482);
    border: 1px solid black;
    width: 100%;
    border-radius: 5pt;
    text-align: center;
    /* height: auto; */
    margin: 5px 0;  
    position: relative;
    padding-bottom: 5px;
}

.weather h2 {
    margin: 10px 0 5px 0;
}

.weather p {
    margin: 10px auto;
}

.news p {
    margin: 5px auto;
}


main h5 {
    font-family: 'Abyssinica SIL';
}

.hero {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5pt;
    position: relative;
}

/* #hero-imgL {
    display: none;
    align-self: center;
    display: block;
    border-radius: 5pt;
    width: 100%;
} */

/* #hero-imgL {
    display: none;
} */

#hero-imgS {
    
    align-self: center;
    display: block;
    border-radius: 5pt;
    width: 100%;
}

/* #hero-imgM {
    display: none;
} */

#hero-msg {
    color: #fefee2;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: x-large;
}

.hero-btn {
    /* z-index: 1; */
    border: 1px solid black;
    background-color: #fefee2;
    color: #2b7029;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-family: 'Abyssinica SIL';
    font-size: x-large;
    border-radius: 5pt;
    padding: 7.5px;
}

#temp {
    font-size: xx-large;
}

#weather-break {
    background-color:#2b7029;
}

.join {
    display: none;
    background-color: rgba(237, 207, 165, 0.482);
    border: 1px solid black;
    width: 100%;
    border-radius: 5pt;
    text-align: center;
    /* height: 280px; */
    margin: 5px 0;  
    position: relative;
}

.join-btn {
    border: 1px solid black;
    background-color: #fefee2;
    color: #2b7029;
    font-family: 'Abyssinica SIL';
    font-size: x-large;
    border-radius: 5pt;
    padding: 7.5px;
}

.spotlights {
    /* border: 1px solid black;
    width: 100%;
    border-radius: 5pt;
    text-align: center; */
    margin: 5px 0 10px 0;
    display: grid;
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto; */
    /* align-items: center; */
    background-color: rgba(237, 207, 165, 0.482);
    border: 1px solid black;
    /* width: 100%; */
    border-radius: 5pt;
    text-align: center;
    justify-items: center;
    margin: 5px 0;  
    position: relative;
}

.spotlights section {
    border: 1px solid black;
    width: 95%;
    /* height: 50%; */
    border-radius: 5pt;
    /* padding: 5px; */
    background-color: rgba(237, 207, 165, 0.482);
    border: 1px solid black;
    border-radius: 5pt;
    text-align: center;
    margin: 5px 0;
    position: relative;
}

#spot1 {
    /* margin-top: 5px; */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
   
}

#spot2 {
    /* margin-bottom: 5px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#spot3 {
    display: none;
}

footer {
    background-color: rgb(165, 114, 42);
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px 0;
    font-family: 'Abyssinica SIL';
}

.footer-logo {
    width: 75px;
    border-radius: 50%;
    justify-items: center;
}

.footer-title {
    width: 225px;
    margin: 0 auto;
    font-family: 'Yeseva One';
}

.map, #contributions {
    color:#fefee2;
}

hr {
    width: 95%;
    margin: 0 auto;
}

#details2 {
    margin-bottom: 0;
}

/* -------------- DISCOVERY PAGE ----------------*/

#discover-content {
    margin: 10px auto;
    /* display: flex;     */
}

#picture-content {
    margin: 0 auto;
    display: flex;
    /* flex: row; */
    flex-wrap: wrap;
    justify-content: space-around   ;
    max-width: 950px;
    margin-top: 5px;
    text-align: center;
}

#picture-content picture {
    margin: 5px 0;
}

#picture-content picture p {
    margin-top: 5px
}

/* -------------- JOIN PAGE ----------------*/

form input:required {
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

input {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

label, input, textarea {
    display: block;
    margin-left: 30px;
}

textarea {
    height: 150px;
    width: 300px;
}

#radio label, #radio input {
    display: inline;
    margin-left: 10px;
}

.radio {
    margin-left: 30px;
}

#join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 30px auto;
}


/* -------------- DIRECTORY PAGE ----------------*/

#directory-main {
    display: block;
}

.cards {
    display: none;
}

.cards section a {
    color: black;
    font-family: "Abysinnica SIL";
}

.cards section a:hover {
    background-color: white;
    border-radius: 5pt;
    padding: 5px;
    border: 2px solid #2b7029;
}

.show-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.show-cards section {
    border: 1px solid #2b7029;
    background-color: rgb(203, 164, 109);
    padding: 30px;
    text-align: center;
    width: 250px;
    margin: 20px;    
}

.cards section img {
    width: 90%;
    height: 125px;
    border-radius: 5pt;
    /* background-color: #2b7029; */
}

/* .cards section a {
   color: rgb(0, 64, 255);
} */

#dir-btn {
    display: flex;
    justify-content: center;
}

#table-btn, #grid-btn {
    display: block;
    border: 1px solid rgb(203, 164, 109);
    color:#2b7029;
    display: block;
    border-radius: 5pt;
    margin: 5px 8px;
}

#table-btn:hover, #grid-btn:hover {
    background-color: #2b7029;
    color:#fefee2;
}

table {
    display: none;
}

.show-table {
    margin: 10px auto;
    display: table-cell;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}

tr {
    display: flex;
    flex-direction: column;
    padding: 10px 0;  
}

td {
    text-align: left;
    font-weight: 300;
    padding: 5px;
    /* height: 35px; */
    /* font-size: 2em; */
}

/* td {
    border: 1px solid black;
    border-collapse: collapse;
} */

tr:nth-child(odd) {
    background-color: rgb(203, 164, 109);
}

tr:nth-child(12) {
    border-bottom: 1px solid rgb(203, 164, 109);
}

/* tr:nth-child(even) {
    background-color: rgb(242, 247, 246);
} */