@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Montserrat:wght@400&display=swap');

:root {
/* Colors */
    --primary: #208E88;
    --accent1: #EF946C;
    --font-color-color: #444545;
    --background: #EAF6FF;

/* Typography */
    --title-font: Cinzel;
    --title-weight: 600;
    --main-font: Cinzel;
    --main-weight: 400;
    --paragraph-font: Montserrat;
    --paragraph-weight: 400;
}

body {
    background-color: var(--background);
}

#content {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 10px 10px;
    /* border-radius: 5px; */
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding-left: 15px; */
    grid-column: 1/3;

    /* display: none; */
}

nav a {
    /* text-decoration: none; */
    color: var(--font-color);
    /* padding-right: 15px; */
    text-align: center;
    font-family: var(--main-font);
    font-size: larger;
    display: none;
}

nav.open a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: var(--font-color-color);
    border-bottom: 1px solid var(--primary);
    text-align: center;
    overflow: hidden;
}

nav a:hover {
    color: var(--accent1);
    background-color: #d9ebeb;
}

button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--primary);
    width: 50px;
    height: 50px;
}

hr {
    background-color: var(--font-color);
    width: 100%;
}


.logo {
    width: 150px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

footer p {
    font-family: var(--paragraph-font);
    font-family: var(--paragraph-font);
}

footer a {
    color: var(--font-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent1);
}

#fb-icon, #insta-icon {
    max-width: 35px;
    border-radius: 5pt;
}


/* ------------- HOME PAGE ------------- */

.main-p {
    font-family: var(--paragraph-font);
    max-width: 500px;
}

.logo-display {
    width: 350px;
    border-radius: 50%;
}


/* ------------- RESERVATION PAGE ------------- */

form input:required {
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

input {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-weight);
}

label, input, textarea {
    display: block;
    margin-left: 30px;
}

textarea {
    height: 150px;
    width: 300px;
}

#reserve-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 30px auto;
}

#form-submit {
    font-family: var(--main-font);
    margin-top: 5px;
}

/* ------------- THANK YOU PAGE ------------- */

#thank-you {
    height: 400px;
}

#thank-you h1 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

#thank-you a {
    font-family: var(--paragraph-font);
    text-decoration: none;
    color: var(--font-color)
}

#thank-you a:hover {
    color: var(--accent1)
}