@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Montserrat:wght@400&display=swap');

:root {
/* Colors */
    --primary: #208E88;
    --accent1: #EF946C;
    --font-color-color: #444545;
    --background: #EAF6FF;

/* Typography */
    --title-font: Cinzel;
    --title-weight: 600;
    --main-font: Cinzel;
    --main-weight: 400;
    --paragraph-font: Montserrat;
    --paragraph-weight: 400;
}

body {
    background-color: var(--background);
}

#content {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 10px 10px;
    /* border-radius: 5px; */
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding-left: 15px; */
    grid-column: 1/3;

    /* display: none; */
}

nav a {
    /* text-decoration: none; */
    color: var(--font-color);
    /* padding-right: 15px; */
    text-align: center;
    font-family: var(--main-font);
    font-size: larger;
    display: none;
}

nav.open a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: var(--font-color-color);
    border-bottom: 1px solid var(--primary);
    text-align: center;
    overflow: hidden;
}

nav a:hover {
    color: var(--accent1);
    background-color: #d9ebeb;
}

button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--primary);
    width: 50px;
    height: 50px;
}

button:hover {
    cursor: pointer;
}

hr {
    background-color: var(--font-color);
    width: 100%;
}


.logo {
    width: 150px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

footer p {
    font-family: var(--paragraph-font);
    font-family: var(--paragraph-font);
}

footer a {
    color: var(--font-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent1);
}

#fb-icon, #insta-icon {
    max-width: 35px;
    border-radius: 5pt;
}


/* ------------- HOME PAGE ------------- */

.main-p {
    font-family: var(--paragraph-font);
    max-width: 500px;
}

.logo-display {
    width: 350px;
    border-radius: 50%;
}

#main-content h1 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    font-size: larger;
    text-align: left;
}

#main-content h2 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

#main-content h1 a {
    text-decoration: none;
    color: var(--accent1);
}

#main-content h1 a:hover {
    color: var(--primary);
}

.home-slideshow {
    height: 300px;
    display: flex;
    max-width: 1000px;
    position: relative;
    margin: auto;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 4pt;
    padding: 5px;
    margin: 10px;
}

#reserve-btn {
    background-color: var(--primary);
    width: 125px;
    font-size: medium;
    color: var(--font-color);
    border-radius: 5pt;
    padding: 5px 10px;
    margin-top: 10px;
}

#reserve-btn:hover {
    background-color: var(--accent1);
}

#summary-content h1 {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
    margin-top: 35px;
    font-size: x-large;
    font-family: var(--title-font);
    font-weight: var(--main-weight);
}

#summary-content h2 {
    font-size: larger;
    font-family: var(--title-font);
    font-weight: var(--title-weight);
}

#summary-content h4 {
    font-size: small;
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

#summary-content section {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
}

#summary-content section:nth-child(5) {
    border-bottom: none;
}

#summary-content section img {
    width: 75%;
}

/* ------------- HOTELS PAGE ------------- */
/* ---- (and some home page slideshow content) ---- */

#hotels-content h2 {
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    margin-top: 0;
}

#hotels-content h4{
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    margin: 10px 0;
    
}

#hotels-content p{
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-weight);
    
}

#cave-content, #cabin-content, #hawaii-content, #atlantis-content {
    border: 1px solid var(--primary);
    border-radius: 2pt;
    padding: 5px;
    margin: 10px;
}

#hotels-content img, #main-content img {
    width: 100%;
}

* {box-sizing:border-box}

/* Slideshow container */
.homeSlides, .cave-slideshow, .cabin-slideshow, .hawaii-slideshow, .atlantis-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.homeSlides, .caveSlides, .cabinSlides, .hawaiiSlides, .atlantisSlides{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "previous button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
  font-family: var(--paragraph-font);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--paragraph-font);

}

.like {
    text-align: right;
    padding-right: 8px;
    color: var(#444545);
    font-size: 28px;
}

.like:hover {
    cursor: pointer;
}

/* .cabin-like {
    color: red;
} */

.dots {
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--font-color-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ------------- PARKS PAGE ------------- */
/* #summary-content section {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
}

#summary-content section:nth-child(5) {
    border-bottom: none;
} */

#firsth2 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    margin-top: 25px;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 35px;
    font-size: larger;
}

#parks-info h2 {
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    margin-top: 25px;
}

#parks-content h3 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

#parks-content a {
    text-decoration: none;
    color: var(--accent1);
    font-family: var(--paragraph-font);
}

#parks-content a:hover {
    color: var(--primary);
}

#parks-content p {
    font-family: var(--paragraph-font);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
}

/* #firsth2 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    font-size: larger;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 35px;

} */

/* ------------- AMENITIES PAGE ------------- */
#amenities-content h2 {
    font-family: var(--main-font);
    font-weight: var(--title-weight);
    margin-top: 25px;
    /* border-bottom: 1px solid var(--primary); */
    /* padding-bottom: 35px; */
    font-size: larger;
}

#section2 {
    border-top: 1px solid var(--primary);
    padding-top: 10px;
}

#amenities-content ul {
    margin-left: 40px;
}

#amenities-content ul li {
    font-family: var(--paragraph-font);
    text-align: left;   
    list-style-type: circle;
}





/* ------------- RESERVATION PAGE ------------- */

form input:required {
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

input {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-weight);
}

label, input, textarea {
    display: block;
    margin-left: 30px;
}

textarea {
    height: 150px;
    width: 300px;
}

select {
    margin-bottom: 15px;
}

option {
    font-family: var(--paragraph-font);
}

#reserve-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 30px auto;
}

#form-submit {
    font-family: var(--main-font);
    margin-top: 5px;
}

/* ------------- THANK YOU PAGE ------------- */

#thank-you {
    height: 400px;
}

#thank-you h1 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

#thank-you a {
    font-family: var(--paragraph-font);
    text-decoration: none;
    color: var(--font-color)
}

#thank-you a:hover {
    color: var(--accent1)
}